<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <span>Die</span>
            </div>
            <div class="col-lg-4">
                <span># of Die</span>
            </div>
            <div class="col-lg-1">
                <span>Modifier</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <input type="button" (click)="rollDice(numOfDice.value, modifier.value)" value="d{{sides}}"/>
            </div>
            <div class="col-lg-4">
                <input #numOfDice name="diceCount" type="number" min="1" value="1"/>
            </div>
            <div class="col-lg-4">
                <input #modifier name="modifer" type="number" value=0/>
            </div>
        </div>
    </div>
</div>